* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}

body {
  background: #333;
  color: #fff;
  font-size: 20px;
}

main {
  margin-top: 35px;
  padding-top: 35px;
}

.active a {
  color: #13a4a4;
}
.nav-link:hover {
  color: #13a4a4;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

footer a:hover {
  color: #13a4a4;
  text-decoration: underline;
}

/* Media query para aplicar estilos solo en pantallas de escritorio */
@media (max-width: 993px) {
  .active a {
    background: #13a4a4;
    color: #fff;
  }

  .nav-link:hover {
    background: #13a4a4;
    color: #fff;
  }
  footer ul {
    flex-direction: column;
  }
}

@media (max-width: 763px) {
  footer .social {
    margin-top: 15px;
  }
}
