/* Variables */
:root {
  --main-bg-color: #333;
  --main-text-color: #fff;
  --main-hover-color: #13a4a4;
  --form-bg-color: #131313;
  --button-bg-color: #0e7b7b;
  --button-hover-color: #13a4a4;
  --box-shadow-color: rgba(255, 255, 255, 0.2);
}

/* Reset y estilos generales */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 20px;
}

.active a,
.nav-link:hover {
  color: var(--main-hover-color);
}

/* Footer */

footer a {
  text-decoration: none;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  /* gap: 10px; Remove this line */
}

footer a:hover {
  color: var(--main-hover-color);
  text-decoration: underline;
}

footer ul {
  display: flex;
}

.card-primary {
  background: var(--form-bg-color);
  color: var(--main-text-color);
  padding: 0;
  border-radius: 0 0 40px 0;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

.card-primary a {
  text-decoration: none;
  padding: 10px 0;
  background: var(--button-bg-color);
  color: #fff;
  border-radius: 0 0 40px 0;
  text-transform: uppercase;
  font-weight: 400;
}

.card-primary a:hover {
  background: var(--button-hover-color);
}

/* Formulario */
.form {
  background: var(--form-bg-color);
  padding: 40px;
  border-radius: 0 0 40px 0;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

.form button {
  background: var(--button-bg-color);
  color: #fff;
  font-weight: 400;
}

.form button:hover {
  background: var(--button-hover-color);
}

/* Media query para aplicar estilos solo en pantallas de escritorio */
@media (max-width: 993px) {
  .active a,
  .nav-link:hover {
    background: var(--main-hover-color);
    color: var(--main-text-color);
  }

  footer ul {
    flex-direction: column;
  }
}

@media (max-width: 763px) {
  footer .social {
    margin-top: 15px;
  }
}
